<!DOTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  
    <link rel="stylesheet" href="../../assets/css/sidebar.css">
    <link rel="stylesheet" href="../../assets/css/Dashboard.css">  
    <link rel="tyle.sheet" href="../../assets/css/activities.css">
    <link rel="stylesheet" href="../assets/css/usermgt.css">
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
  <script src="../../js/projectController/activites.js"></script>
  
</head>
<body>
  <input type="hidden" name="token" id="Token" value="">
  <div class="d-flex flex-row h-100">
    <aside>
      <section class="wrapper">
        <nav class="sidebar h-100">
          <div class="sidebar-header d-flex flex-row mt-2">
            <span class='icon mx-2 mt-1'></span><h5>BASCOM</h5>
            <!-- <strong><span class='icon'></span></strong> -->
          </div>
    
          
          <div class="profile mt-2 ">
            <img src="../../assets/img/Sophia.jpg" alt="Avatar" class="avatar"></img>
            <div class="profile-info-group">
              <p class="profile-name mb-0" id="profileName">Sophia Daniels</p>
              <h6 class="profile-info primary-options-color">Product Manager</h6>
            </div>
          </div>
    
         <div class="nav-list">
           <div class="menu-header primary-options-color px-2"></div>
            <ul class="list-unstyled d-flex flex-column">
              <li class="" id="home
              "><a href="#"><i class="fas fa-home"></i>Home</a></li>
                <li><a href="#"><i class="fas fa-tasks"></i>Tasks</a></li>
                <li><a href="#"><i class="fas fa-bell"></i>Notifications</a></li>
            </ul> 
            
          </div>
          
          <div class="nav-list">
            <span class="project-teams">
              <a class="menu-header primary-options-color px-2 py-2 cursor-pointer d-flex flex-row justify-content-between " data-toggle="collapse" data-target="#projects" aria-expanded="false" aria-controls="collapseExample">Projects <span class="down-caret align-self-center"></span></a>
            </span>
    
            <div class="collapse" id="projects">
              <ul class="list-unstyled d-flex flex-column" >
                <li><a href="" onclick="displayPage()"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Pace Time Sheet</a></li>
                <li><a href=""><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Yellow Card System</a></li>
                <li><a href=""><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Chat App</a></li>
                <li><a href=""><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Project Management Tool</a></li>
            </ul> 
            <div class="add-team-project primary-logo-color px-2"><small>+ Add a Project</small></div>
            </div>
            
            
            
          </div>
          
          <div class="nav-list">
            <span class="project-teams">
              <a class="menu-header primary-options-color px-2 py-2 cursor-pointer d-flex flex-row justify-content-between" data-toggle="collapse" data-target="#teams" aria-expanded="false" aria-controls="collapseExample">Teams <span class="down-caret align-self-center"></span></a>
            </span>
            <div id="teams" class="collapse">
              <ul class="list-unstyled d-flex flex-column" >
                <li><a href="#">Designers</a></li>
                <li><a href="#">Backend</a></li>
                <li><a href="#">Frontend</a></li>
              </ul>
    
              <div class="add-team-project primary-logo-color px-2"><small>+ Add a Team</small></div>
            </div>
            
          </div>
          
            <div class="bottom-content list-u font-14 fixed-bottom pt-2 pb-3">
    
              <div>
                <button type="button" class="btn btn-outline-light btn-lg mx-3 my-3" >Invite Teams</button>
              </div>
          </div>
        </nav> 
        
      
      </section>
      <!-- <header>
    
        <a class="nav-chat" href="chat.html"><button><i class="fa fa-comments" >Chat</i></button></a>
        <a class="nav-share" href="share.html"><button>Share</button></a>
    
        <img src="../../assets/img/Onyedika.jpg" alt="Team member" class="picture">
        <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
        <img src="../../assets/img/Sophia.jpg" alt="Team member" class="picture">
    
         logo-section
      <label class="logo"><img src="../../assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>     
    
      <nav>
    
    Nav bar list
    <ul>
        <li class="nav-item"><a href="overview.html">Overview</a></li>
        <li class="nav-item"><a href="activity.html">Activity</a></li>
        <li class="nav-item"><a href="calender.html">Calender</a></li>
        <li class="nav-item"><a href="files.html">Files</a></li>
       
    </ul>
    
    </nav>
    
    </header> -->
    
    </aside>
        <div class="main_content d-flex flex-column container-fluid px-0">
          <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand d-flex" href="#">
              <img src="../../assets/img/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
              <span>
              <span class="text-primary">BAS</span><l-heading>COM</l-heading>  
            </span>
            </a>
          </nav>

          <!-- USER MANAGEMENT CONSOLE -->

            <!-- Registered Users -->
          <div class="card-deck" >
            <div class="card user-console-card" >
             
              <div class="card-body">
                <h5 class="card-title">Registered Users</h5>
                <p class="card-text">10</p>
                <p class="card-text"><small class="text-muted">Last updated 2 mins ago</small></p>
              </div>
            </div>
               <!-- Tasks Created -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tasks Created</h5>
                <p class="card-text">20</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>

             <!-- Tasks Completed -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tasks Completed</h5>
                <p class="card-text">5</p>
                <p class="card-text"><small class="text-muted">Last updated 4 mins ago</small></p>
              </div>
            </div>
        </div>

          <!--END:  USER MANAGEMENT CONSOLE -->
      
  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../../assets/js/web/routes.js"></script>
  <script src="../../assets/js/bootstrap/bootstrap.min.js"></script>
</body>.
</html>
