<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/sidebar.css">
    <link rel="stylesheet" href="../../assets/css/Dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/activities.css">
    <title>Bascom || Activities</title>
</head>
<body >

    <!-- #####################[ ASIDE BEGINS HERE ]############################## -->
    <aside>
        <section class="wrapper">
          <nav class="sidebar">
            <div class="sidebar-header">
              <h2><span class='icon'></span>BASCOM</h2>
              <strong><span class='icon'></span></strong>
            </div>
      
            
            <div class="profile">
              <img src="../../assets/img/Sophia.jpg" alt="Avatar" class="avatar"></img>
              <div class="profile-info-group">
                <p class="profile-name">Sophia Daniels</p>
                <p class="profile-info primary-options-color">Product Manager</p>
              </div>
            </div>
      
            <div class="nav-list">
             <div class="menu-header primary-options-color">MENU</div>
              <ul class="list-unstyled">
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                  <li><a href="#"><i class="fas fa-tasks"></i>Tasks</a></li>
                  <li><a href="#"><i class="fas fa-bell"></i>Notifications</a></li>
              </ul> 
              
            </div>
            
            <div class="nav-list">
              <div class="menu-header primary-options-color">PROJECTS</div>
              <ul class="list-unstyled">
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Pace Time Sheet</a></li>
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Yellow Card System</a></li>
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Chat App</a></li>
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Project Management Tool</a></li>
              </ul> 
              
              <div class="add-team-project primary-logo-color">+ Add a Project</div>
              
            </div>
            
            <div class="nav-list">
              <div class="menu-header primary-options-color">TEAMS</div>
              <ul class="list-unstyled">
                <li><a href="#">Designers</a></li>
                <li><a href="#">Backend</a></li>
                <li><a href="#">Frontend</a></li>
              </ul>
              
              <div class="add-team-project primary-logo-color">+ Add a Team</div>
            </div>
            
              <div class="bottom-content list-u">
      
                <a class="primary-logo-color" href="#">Invite your team</a> and start collaborating!
            </div>
          </nav>  
        </section>
        <!-- <header>
      
          <a class="nav-chat" href="chat.html"><button><i class="fa fa-comments" >Chat</i></button></a>
          <a class="nav-share" href="share.html"><button>Share</button></a>
      
          <img src="../../assets/img/Onyedika.jpg" alt="Team member" class="picture">
          <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
          <img src="../../assets/img/Sophia.jpg" alt="Team member" class="picture">
      
           logo-section
        <label class="logo"><img src="../../assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>     
      
        <nav>
      
      Nav bar list
      <ul>
          <li class="nav-item"><a href="overview.html">Overview</a></li>
          <li class="nav-item"><a href="activity.html">Activity</a></li>
          <li class="nav-item"><a href="calender.html">Calender</a></li>
          <li class="nav-item"><a href="files.html">Files</a></li>
         
      </ul>
      
      </nav>
      
      <!-- </header> -->
      <!-- <nav class="navbar navbar-light bg-light left-20">
        <a class="navbar-brand d-flex" href="#">
          <img src="../../assets/img/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          <span>
          <span class="text-primary">BAS</span><l-heading>COM</l-heading>  
        </span> --> -->
        <!-- 
          <i class="fas fa-ellipsis-h"></i>
         -->
        <!-- </a> -->
      <!-- </nav> -->
      </aside>
          <div class="main_content">
              <!-- #########################[HEADER BEGINS HERE]######################################### -->

              <header>

                <a class="nav-chat" href="chat.html"><button><i class="fa fa-comments" >Chat</i></button></a>
                <a class="nav-share" href="share.html"><button>Share</button></a>
    
                <img src="../../assets/img/Onyedika.jpg" alt="Team member" class="picture">
                <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
                <img src="../../assets/img/Sophia.jpg" alt="Team member" class="picture">
    
                 <!-- logo-section-->
              <label class="logo"><img src="../../assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>     
            
              <nav>
            
            <!--Nav bar list-->
            <ul>
                <li class="nav-item"><a href="overview.html">Overview</a></li>
                <li class="nav-item"><a href="activity.html">Activity</a></li>
                <li class="nav-item"><a href="calender.html">Calender</a></li>
                <li class="nav-item"><a href="files.html">Files</a></li>
               
            </ul>
           
        </nav>
       
        </header>
              <!-- #########################[HEADER ENDS HERE]######################################### -->

            <!-- #########################[ ACTIVITIES PAGE CONTENT STARTS HERE ]###################################### -->
    <section class="activities-section">
        <h5>TODAY</h5>
        <div class="activities">
            <div class="activity">
                <p><img class="icons icon-check" src="https://img.icons8.com/android/24/000000/checkmark.png"/>
                <p class="text">
                    <span class="bold">Daniel Ugwu</span> mark as done <span class="bold">Listing on Product Hunt so that we can reach as many potential users</span>
                </p>
                <span class="time">8:40 PM</span></p>
            </div>
            <div class="activity activity-comment">
                <div class="activity-text">
                    <p><img class="icons icon-message" src="https://img.icons8.com/android/24/000000/checkmark.png"/>
                        <p class="text">
                            <span class="bold">Chidinma Nwabeke</span> commented on <span class="bold">Account for teams and personal in bottom style</span>
                        </p>
                    <span class="time">7:32 PM</span></p>
                </div>
                <div class="comment">
                    <img class="comment-img" src="../assets/img/Oval.png" alt="">
                    <p>During a project build, it is necessary to evaluate the product design and development against project requirements and outcomes</p>
                </div>
            </div>
            <div class="activity activity-comment">
                <div class="activity-text">
                    <p><img class="icons icon-download" src="https://img.icons8.com/fluent-systems-regular/24/000000/download.png"/>
                        <p class="text">
                            <span class="bold">Daniel Ugwu</span> uploaded 4 files on <span class="bold">An option to search in current projects or in all projects</span>
                        </p>
                    <span class="time">6:02 PM</span></p>
                </div>
                    <div class="images">
                        <img src="../assets/img/Image1.png" alt="">
                        <img src="../assets/img/Image2.png" alt="">
                        <img src="../assets/img/Image3.png" alt="">
                        <img src="../assets/img/Image4.png" alt="">
                    </div>
            </div>
        </div>
        <h5>YESTERDAY</h5>
            <div class="activities">
                <div class="activity activity-comment">
                    <div class="activity-text">
                        <p><img class="icons icon-download" src="https://img.icons8.com/fluent-systems-regular/24/000000/download.png"/>
                        <p class="text">
                            <span class="bold">Daniel Ugwu</span> uploaded 4 files on <span class="bold">An option to search in current projects or in all projects</span></span>
                        </p>
                        <span class="time">6:02 PM</span></p>
                    </div>
                    <div class="images">
                        <img src="../assets/img/Image1.png" alt="">
                        <img src="../assets/img/Image2.png" alt="">
                        <img src="../assets/img/Image3.png" alt="">
                        <img src="../assets/img/Image4.png" alt="">
                    </div>
                </div>
                <div class="activity">
                    <p><img class="icons icon-check" src="https://img.icons8.com/android/24/000000/checkmark.png"/>
                    <p class="text">
                        <span class="bold">Adedeji Bankole</span> mark as done <span class="bold">Listing on Product Hunt so that we can reach as many potential users</span>
                    </p>
                    <span class="time">5:49 PM</span></p>
                </div>
                <div class="activity">
                    <p><img class="icons icon-edit" src="https://img.icons8.com/metro/26/000000/edit.png"/>
                    <p class="text">
                        <span class="bold">Maxwell Diogu</span> edited <span class="bold">Listing on Product Hunt so that we can reach as many potential users</span>
                    </p>
                    <span class="time">6:02 PM</span></p>
                </div>
            </div>
    </section>
        <!-- #########################[ ACTIVITIES PAGE CONTENT STARTS HERE ]###################################### -->
          </div>
<!-- #####################[ ASIDE ENDS HERE ]############################## -->


</body>
</html>
