<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../assets/css/Dashboard.css">   
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
    <!--Header section-->

      <header>

            <a class="nav-chat" href="chat.html"><button><i class="fa fa-comments" >Chat</i></button></a>
            <a class="nav-share" href="share.html"><button>Share</button></a>

            <img src="../assets/img/Onyedika.jpg" alt="Team member" class="picture">
            <img src="../assets/img/Chidinma.jpg" alt="Team member" class="picture">
            <img src="../assets/img/Sophia.jpg" alt="Team member" class="picture">

             <!-- logo-section-->
          <label class="logo"><img src="./assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>     
        
          <nav>
        
        <!--Nav bar list-->
        <ul>
            <li class="nav-item"><a href="overview.html">Overview</a></li>
            <li class="nav-item"><a href="activity.html">Activity</a></li>
            <li class="nav-item"><a href="calender.html">Calender</a></li>
            <li class="nav-item"><a href="files.html">Files</a></li>
           
        </ul>
       
    </nav>
   
    </header>

</body>
</html>