<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <input type="hidden" name="hidden">
        <input type="text" name="project-name" id="project-name" placeholder="Project Name">
        <input type="text" name="project-description" id="project-description" placeholder="Project Description">
        <button onclick="createProject(event)">Create Project</button>
    </form>
</body>
</html>