<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  onload="displayTasks()">
    <a href="taskDetail.html"><button> Create Task</button></a>
    
    <div >
        <p>All Tasks</p>
        <div id="showAllTasks">
        
        </div>
    </div>
    
    <script src="../../js/projectController/project.js"></script>
    <script src="../../js/taskController/task.js"></script>
</body>
</html>