<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="project-name" placeholder="Project Name" id="projectName"> <br>
    <input type="text" name="project-description" placeholder="Project Description" id="projectDescription"> <br>
    select Team  :<select name="team" id="">
        <option value="Team1"> Team list goes here from the team object</option>
        <option value="Team2"> Team list goes here from the team object</option>
        <option value="Team3"> Team list goes here from the team object</option>
    </select> <br>
    <button onclick="addProject()">Add Project</button>

    <script src="../../js/projectController/project.js"></script>
</body>
</html>