<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/sidebar.css">
    <link rel="stylesheet" href="../../assets/css/Dashboard.css">   
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="../../assets/css/settings.css">
    <title>Profile Settings</title>
</head>
<body>

    <!-- ##################[ ASIDE BEGINS HERE ]######################## -->

    <aside>
        <section class="wrapper">
          <nav class="sidebar">
            <div class="sidebar-header">
              <h2><span class='icon'></span>BASCOM</h2>
              <strong><span class='icon'></span></strong>
            </div>
      
            
            <div class="profile">
              <img src="../../assets/img/Sophia.jpg" alt="Avatar" class="avatar"></img>
              <div class="profile-info-group">
                <p class="profile-name">Sophia Daniels</p>
                <p class="profile-info primary-options-color">Product Manager</p>
              </div>
            </div>
      
            <div class="nav-list">
             <div class="menu-header primary-options-color">MENU</div>
              <ul class="list-unstyled">
                <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
                  <li><a href="#"><i class="fas fa-tasks"></i>Tasks</a></li>
                  <li><a href="#"><i class="fas fa-bell"></i>Notifications</a></li>
              </ul> 
              
            </div>
            
            <div class="nav-list">
              <div class="menu-header primary-options-color">PROJECTS</div>
              <ul class="list-unstyled">
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Pace Time Sheet</a></li>
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Yellow Card System</a></li>
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Chat App</a></li>
                  <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Project Management Tool</a></li>
              </ul> 
              
              <div class="add-team-project primary-logo-color">+ Add a Project</div>
              
            </div>
            
            <div class="nav-list">
              <div class="menu-header primary-options-color">TEAMS</div>
              <ul class="list-unstyled">
                <li><a href="#">Designers</a></li>
                <li><a href="#">Backend</a></li>
                <li><a href="#">Frontend</a></li>
              </ul>
              
              <div class="add-team-project primary-logo-color">+ Add a Team</div>
            </div>
            
              <div class="bottom-content list-u">
      
                <a class="primary-logo-color" href="#">Invite your team</a> and start collaborating!
            </div>
          </nav>  
        </section>
        <!-- <header>
      
          <a class="nav-chat" href="chat.html"><button><i class="fa fa-comments" >Chat</i></button></a>
          <a class="nav-share" href="share.html"><button>Share</button></a>
      
          <img src="../../assets/img/Onyedika.jpg" alt="Team member" class="picture">
          <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
          <img src="../../assets/img/Sophia.jpg" alt="Team member" class="picture">
      
           logo-section
        <label class="logo"><img src="../../assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>     
      
        <nav>
      
      Nav bar list
      <ul>
          <li class="nav-item"><a href="overview.html">Overview</a></li>
          <li class="nav-item"><a href="activity.html">Activity</a></li>
          <li class="nav-item"><a href="calender.html">Calender</a></li>
          <li class="nav-item"><a href="files.html">Files</a></li>
         
      </ul>
      
      </nav>
      
      </header> -->
      <nav class="navbar navbar-light bg-light left-20">
        <a class="navbar-brand d-flex" href="#">
          <img src="../../assets/img/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          <span>
          <span class="text-primary">BAS</span><l-heading>COM</l-heading>  
        </span>
        <!-- 
          <i class="fas fa-ellipsis-h"></i>
         -->
        </a>
      </nav>
      </aside>
      <!-- #############################[ ASIDE ENDS HERE ]#################################### -->
          <div class="main_content">

                    <!-- SETTINGS CONTAINER -->
            <div id="settings" class="settings-container">
                <!-- HEADER SECTION OF THE SETTINGS PAGE STARTS HERE -->
                <header class="settings-header">
                    <h1>Profile Settings</h1>
                    <div class="settings-profile-menu"><div>Profile</div><div>Notifications</div><div>Account</div><div>Apps</div></div>
                </header>
                <!-- HEADER SECTION OF THE SETTINGS PAGE ENDS HERE -->

                <!-- DETAILS SECTION OF THE SETTINGS PAGE STARTS HERE -->
                <div class="settings-profile-details">
                    <!-- PROFILE PICTURE OF THE DETAILS SECTION -->
                    <!-- <div class="settings-profile-image-container"> -->
                        <img class="settings-profile-image" src="../../assets/img/placeholder-image.svg" alt="settings image" srcset="">
                    <!-- </div> -->
                    <!-- PROFILE PICTURE OF THE DETAILS SECTION ENDS HERE -->

                    <!-- FORM SECTION OF THE DETAILS STARTS HERE -->
                    <div class="settings-form-container">
                        <form class="settings-form">
                          <div class="form-group">
                            <input id="settings-hidden" type="hidden">
                            <label for="settings-name">Name</label>
                          </div>
                          <div class="form-group">
                            <input id="settings-name" type="text">
                            <label for="settings-role">Role</label>
                          </div>
                          <div class="form-group">
                            <input id="settings-role" type="text">
                            <label for="teams">Teams</label>
                          </div>
                          <div class="form-group">
                            <input id="settings-teams" type="text">
                            <label for="settings-about">About</label>
                          </div>
                            <textarea id="settings-about" type="text"></textarea>
                            <button class="settings-submit">Update Profile</button>
                        </form>
                        <button onclick="update()" class="settings-cancel-submit">Cancel</button>
                    </div>
                    <!-- FORM SECTION OF THE DETAILS SECTION ENDS HERE -->
                </div>
                <!-- DETAILS SECTION OF THE SETTINGS PAGE ENDS HERE -->
            </div>

           </div>


    <script src="../../js/projectController/settings.js"></script>
</body>
</html>