<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0 shrink-to-fit-no"
    >
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <script src="../../assets/js/auth/auth.js"></script>
    <!-- <link
      rel="stylesheet"
      href="../../assets/css/bootstrap/bootstrap.min.css"
    /> -->
    <link rel="stylesheet" href="../../assets/css/temp.css">
    <link rel="stylesheet" href="../../assets/css/projects.css"/>
    <link rel="stylesheet" href="../../assets/css/task.css">
    <link rel="stylesheet" href="../../assets/css/styleTask.css">


    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Bascom || Task Overview</title>
  </head>

    <body onload="displayTasksLists()">
            <!-- Add create team Modal -->
            <div
            class="modal fade addProject"
            id="createTeam"
            data-backdrop="static"
            tabindex="-1"
            role="dialog"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title text-default-color" id="staticBackdropLabel">
                    Create a Team
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div id="showSelected" >
                    
                  </div>
                  <form>
                    
                    <div class="form-group">
                      <label for="usersList">Create a team</label>
                      <select multiple class="form-control" name="users"
                      id="usersList">
                        No users found
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="teamName" class="col-form-label"
                        >Team Name</label
                      >
                      <input
                        type="text"
                        name="teamName"
                        placeholder="Enter Team Name"
                        id="teamName"
                        class="form-control"
                      />
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Cancel
                  </button>
                  <button type="button" class="btn btn-primary" onclick="createTeam()">
                    Create Team
                  </button>
                </div>
              </div>
            </div>
          </div>
      <!-- ############### [ MODAL FOR TO ADD TASK ] ########################-->
      <div
      class="modal fade addProject"
      id="staticBackdrop"
      data-backdrop="static"
      tabindex="-1"
      role="dialog"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-default-color" id="staticBackdropLabel">
              Add new Task
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label"
                  >Task Name</label
                >
                <input
                  type="text"
                  name="task-name"
                  placeholder="Task Name"
                  id="taskName"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label"
                  >Task Description</label
                >
                <textarea
                  class="form-control"
                  cols="10"
                  rows="5"
                  name="task-description"
                  placeholder="Task Description"
                  id="taskBody"
                ></textarea>

                <label for="date" class="col-form-label">Timeline</label> <br>
                <div class="input-group pt-1 pb-2">
                    <br><input type="date" class="form-control" placeholder="YYYY-MM-DD" id="startDate">
                    <div class="input-group-addon mx-1">to</div>
                    <input type="date" class="form-control" placeholder="YYYY-MM-DD" id="endDate">
                </div>
                <div class="form-group">
                  <div class="selectedUsers" id="selectedTeamMembers" style="border: 1px solid black; margin-bottom: 10px">
                    selected team member appears here!
                  </div>
                  <label for="assign-to">Assign to</label>
                  <select multiple style="height: 10vh; width: 20vw; font-size: 1.2rem" class="form-control" id="assign-to">
                            
                  </select>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Cancel
            </button>
            <button type="button" class="btn btn-primary" onclick="addTask()">
              Create Task
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ###############[ MODAL END ]########################################## -->
      
    <!-- ######################[  NAVBAR STARTS HERE    ]########################### -->
    <nav class="navbar navbar-light bg-light flex-md-nowrap fixed-top  p-0 shadow-sm">
      <div class="offset-lg-1 col-12">
        <div class="row offset-lg-6">
          
          <ul class="navbar-nav px-3 d-flex flex-row justify-content-end">
            <div class="d-flex flex-row justify-content-end">
              <!-- <span class="fas fa-search form-control-feedback"></span> -->
              
              
              <div id="team-images">
                
                <!-- <img src="../../assets/img/Onyedika.jpg" alt="Team member" class="picture">
                <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
                <!-- <img src="../../assets/img/Sophia.jpg" alt="Team member" class="picture"> -->
                <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
                 -->
              </div>
              <div>
                <input type="text" placeholder="Search..." class="mr-5 form-control search" name ="search" id="search" autocomplete="off"/>
                    <ul class="list-group" id="searchList" style="border-radius: 50%; position: absolute;"></ul> 
                </div>
            <button class="nav-btn badge badge-pill"><a  href="chat.html"><i class="fa fa-comments" >Chat</i></a></button>
            <button class="nav-btn badge badge-pill"><a  href="share.html"><i class="fa fa-comments" >Share</i></a></button>
            
            </div>
              
      
           <!-- logo-section -->
        <!-- <label class="logo"><img src="../../assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>      -->
      
            <!-- <li class="nav-item text-nowrap">
              <a href="#" class="nav-link text-secondary">holla</a>
            </li> -->
          </ul>
        </div>
        <ul class="nav flex-row offset-lg-1 offset-sm-0">
          <li class="nav-item">
            <a class="nav-link hover-border-bottom active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-border-bottom" href="activities.html">Activities <span id="notifyCount" class="badge badge-info"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-border-bottom" href="calender.html">Calender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link hover-border-bottom" href="#">Files</a>
          </li>
          
        </ul>

      </div>
    </nav>
    <!-- ###########################[ SIDEBAR BEGINS HERE] ############################################# -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-2 d-none d-md-block sidebar px-1">
            <div class="left-sidebar">
              <a class="navbar-brand col-md-2 ml-0 pr-1 my-2" href="temp.html">
              <img src="../../assets/img/Logo.png" width="30" height="30" class="align-top" alt="">
              <span class="font-weight-bolder">
              <span class="text-primary">BAS</span><span class="text-white">COM</span>  
            </span>
            
            </a>
            <div class="d-flex justify-content-around">
              <div class="profile mt-2 ">
                <img id="theAvatar" src="" alt="Avatar" class="avatar my-2"></img>
                <div class="profile-info-group">
                  <p class="profile-name mb-0" id="userName"></p>
                  <small class="profile-info primary-options-color text-wrap" id="userRole"></small>
                </div>
                <span >
                <li class="dropdown"><a class="dropdown-toggle ml-3" data-toggle="dropdown" href="#" id="DropdownProfile">...</a>
                  <ul class="dropdown-menu">
                    <li class="mx-2 text-decoration-none" ><a style="cursor: pointer;" data-toggle="modal" data-target="#exampleModalLong"  class="text-black" onclick=editTrigger()>Profile settings</a></li>
                    <li class="mx-2 text-decoration-none"><a style="cursor: pointer;" class="text-black" onclick="logout()">Log Out</a></li>
                  </ul>
                </li>
              </span>
              </div>
              
            </div>
              <ul class="nav flex-column sidehover">
                <li class="nav-item">
                  <a class="nav-link text-white hover-color" href="temp.html"><i class="fas fa-home"></i>Home</a>
                </li>
                <li class="nav-item hover-color">
                  <a class="nav-link text-white hover-color active" href="taskoverview.html"><i class="fas fa-tasks"></i>Tasks</a>
                </li>
                <li class="nav-item hover-color">
                  <a class="nav-link text-white " href="activities.html"><i class="fas fa-bell"></i>Notification</a>
                </li>
                
              </ul>
            </div>
            <div class="overflow-auto">
              <div class="project-teams">
                <a class="menu-header text-white px-2 py-2 cursor-pointer d-flex flex-row justify-content-between " data-toggle="collapse" data-target="#projects" aria-expanded="false" aria-controls="collapseExample">Projects <i class="fas fa-caret-down"></i></a>
              </div>
              <div class="collapse" id="projects">
                <ul class="nav flex-column">
                  <div id="projectsSidebarTask">

                  </div>
                  <div class="add-team-project primary-logo-color px-2"><small>+ Add new project</small></div>
                </ul>
              </div>
              
                <div class="project-teams">
                  <a class="menu-header text-white primary-options-color px-2 py-2 cursor-pointer d-flex flex-row justify-content-between " data-toggle="collapse" data-target="#teams" aria-expanded="false" aria-controls="collapseExample">Teams <i class="fas fa-caret-down"></i></a>
                </div>
                
                <div class="collapse" id="teams">
                  <ul class="nav flex-column">
                    <div id="teamsSidebarTask">
                      <li>hhh</li>
                      nawa
                    </div>

                    <!-- <li class="nav-item">
                      <a class="nav-link active text-white" href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image my-1">Backend</i></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image my-1">MiddleEnd</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white" href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image my-1">Frontend</a>
                    </li> -->
                    <a href="team.html"><div class="add-team-project primary-logo-color px-2"><small>+ Add a Team</small></div></a>
                  </ul>
                </div>
            </div>
              <!-- invite team -->
              <div class="fixed-bottom">
                <a style="cursor: pointer;" data-toggle="modal" data-target="#createTeam"><button type="button" class="btn btn-outline-light   btn-sm w-10 mx-2 my-3">Create Teams</button></a>
                
              </div>
        
          </div>
              <!-- ###########################[ SIDEBAR ENDS HERE] ############################################# -->

          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-6 task-main">
          <div class="mt-5"></div>
            <div  class="container pt-4 mt-3">
              <section class=" ">

                <!-- <input class="mt-3 d-flex flex-row justify-content-end" type="text" id="listName"><button onclick="addList()">Add list</button>
                <div class="card-deck d-flex justify-content-around mt-4" id="showLists"> -->

                  <input type="text" class="task-listname-input" id="listName"><button onclick="addList()" class="task-list-button">Add list</button>
                 <!-- ########## -->
                  <div class="card-deck d-flex flex-nowrap task-list overflow-auto scrollable"  id="showLists">

                  <!-- <div id="addTodoListDiv">
                    <input id="addTodoListInput" class="comment">
                    <button id="addTodoListButton" style="background-color: #0099cc;" class="btn-save">Add new to-do list</button>
                </div>
                <div id="root"></div> -->

                   <!-- <div class="card" style="max-width: 25%">
                      <div class="card-body">
                        <div class="card-header d-flex justify-content-between">
                            <span class="card-heading ">Tasks</span>
                            <button data-toggle="modal" data-target="#staticBackdrop" class="btn btn-outline-secondary rounded-pill add-btn-color">+ Add Task</button>
                        </div>
                        <div id="showAllTasks">
        
                        </div>
                      </div>
                    </div>
                    <div class="card" style="max-width: 25%">
                      <div class="card-body">
                        <div class="card-header d-flex justify-content-between">
                            <span class="card-heading ">To Do</span>
                            <button class="btn btn-outline-secondary rounded-pill add-btn-color">+ Add Task</button>
                        </div>
                        <div id="showAllTasks">
                            
                        </div>
                      </div>
                    </div>
                    <div class="card" style="max-width: 25%">
                      <div class="card-body">
                        <div class="card-header d-flex justify-content-between">
                            <span class="card-heading ">Done</span>
                            <button class="btn btn-outline-secondary rounded-pill add-btn-color">+ Add Task</button>
                        </div>
                        <div id="showAllTasks">
                            
                        </div>
                      </div>
                    </div> 
                  -->
                    
                
                  </div>
            </section>
                    
              
            </div>
            
          </main>
        </div>
      </div>







    
    <link src="../../assets/js/Controllers/user.js"></link> 
    <!-- <link src="../../assets/js/taskController/task.js"></link> -->
    <!-- <link src="../../js/projectController/project.js"></link> -->
    <!-- <script>
      showUserName = currentUser.firstName;
      showLastName = currentUser.lastName;
      userRole = currentUser.role
      document.getElementById('userName').innerHTML = showUserName +  " " + showLastName;
      document.getElementById('userRole').innerHTML = userRole;
      document.getElementById('helloUserName').innerHTML = showUserName;
    </script> -->
    <!-- <script src="../../js/auth/user.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="../../assets/js/sweetalert2.all.min.js"></script>
    <script src="../../assets/js/Controllers/user.js"></script>
  <script src="../../assets/js/Controllers/project.js"></script>
  <script src="../../assets/js/Controllers/team.js"></script>
  <script src="../../assets/js/taskController/task.js"></script>
  <script src="../../assets/js/search.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css"
/>
<script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
<script>
  Array.prototype.forEach.call(
  document.querySelectorAll('.scrollable'),
  el => new SimpleBar()
);
</script>
  </body>
</html>

