<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
  <link rel="stylesheet" href="../../assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/css/sidebar.css">
    <link rel="stylesheet" href="../../assets/css/Dashboard.css">   
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>
<aside>
  <section class="wrapper">
    <nav class="sidebar">
      <div class="sidebar-header">
        <h2><span class='icon'></span>BASCOM</h2>
        <strong><span class='icon'></span></strong>
      </div>

      
      <div class="profile">
        <img src="../../assets/img/Sophia.jpg" alt="Avatar" class="avatar"></img>
        <div class="profile-info-group">
          <p class="profile-name">Sophia Daniels</p>
          <p class="profile-info primary-options-color">Product Manager</p>
        </div>
      </div>

      <div class="nav-list">
       <div class="menu-header primary-options-color">MENU</div>
        <ul class="list-unstyled">
          <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
            <li><a href="#"><i class="fas fa-tasks"></i>Tasks</a></li>
            <li><a href="#"><i class="fas fa-bell"></i>Notifications</a></li>
        </ul> 
        
      </div>
      
      <div class="nav-list">
        <div class="menu-header primary-options-color">PROJECTS</div>
        <ul class="list-unstyled">
            <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Pace Time Sheet</a></li>
            <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Yellow Card System</a></li>
            <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Chat App</a></li>
            <li><a href="#"><img src="../../assets/img/project-icon.svg" alt="Project Image" class="project-image">Project Management Tool</a></li>
        </ul> 
        
        <div class="add-team-project primary-logo-color">+ Add a Project</div>
        
      </div>
      
      <div class="nav-list">
        <div class="menu-header primary-options-color">TEAMS</div>
        <ul class="list-unstyled">
          <li><a href="#">Designers</a></li>
          <li><a href="#">Backend</a></li>
          <li><a href="#">Frontend</a></li>
        </ul>
        
        <div class="add-team-project primary-logo-color">+ Add a Team</div>
      </div>
      
        <div class="bottom-content list-u">

          <a class="primary-logo-color" href="#">Invite your team</a> and start collaborating!
      </div>
    </nav>  
  </section>
  <!-- <header>

    <a class="nav-chat" href="chat.html"><button><i class="fa fa-comments" >Chat</i></button></a>
    <a class="nav-share" href="share.html"><button>Share</button></a>

    <img src="../../assets/img/Onyedika.jpg" alt="Team member" class="picture">
    <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
    <img src="../../assets/img/Sophia.jpg" alt="Team member" class="picture">

     logo-section
  <label class="logo"><img src="../../assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>     

  <nav>

Nav bar list
<ul>
    <li class="nav-item"><a href="overview.html">Overview</a></li>
    <li class="nav-item"><a href="activity.html">Activity</a></li>
    <li class="nav-item"><a href="calender.html">Calender</a></li>
    <li class="nav-item"><a href="files.html">Files</a></li>
   
</ul>

</nav>

</header> -->
<nav class="navbar navbar-light bg-light left-20">
  <a class="navbar-brand d-flex" href="#">
    <img src="../../assets/img/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span>
    <span class="text-primary">BAS</span><l-heading>COM</l-heading>  
  </span>
  <!-- 
    <i class="fas fa-ellipsis-h"></i>
   -->
  </a>
</nav>
</aside>
    <div class="main_content">
    </div>

</body>
</html>