<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    /> -->
    <link
      rel="stylesheet"
      href="../../assets/css/bootstrap/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../../assets/css/Dashboard.css">   

    <link rel="stylesheet" href="./temp.css" />
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar  -->
      <nav id="sidebar">
        <div class="sidebar-header">
          <span class='icon'></span><h3>Bascom</h3>
          <strong><span class='icon'></span></strong>
        </div>
      <div class="profile">
        <img src="../../assets/img/Sophia.jpg" alt="Avatar" class="avatar"></img>
        <div class="profile-info-group">
          <p class="profile-name">Sophia Daniels</p>
          <h6 class="profile-info">Product Manager</h6>
        </div>
      </div>
        <ul class="list-unstyled components list">
          <li class="active">
            <a
              href="#homeSubmenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <i class="fas fa-home"></i>
              Home
            </a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="#">Home 1</a>
              </li>
              <li>
                <a href="#">Home 2</a>
              </li>
              <li>
                <a href="#">Home 3</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-tasks"></i>
              My Tasks
            </a>
            <a
              href="#pageSubmenu"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <i class="fas fa-bell"></i>
              Notifications
            </a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                <a href="#">Page 1</a>
              </li>
              <li>
                <a href="#">Page 2</a>
              </li>
              <li>
                <a href="#">Page 3</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!-- <header>

      <a class="nav-chat" href="chat.html"><button><i class="fa fa-comments" >Chat</i></button></a>
      <a class="nav-share" href="share.html"><button>Share</button></a>

      <img src="../../assets/img/Onyedika.jpg" alt="Team member" class="picture">
      <img src="../../assets/img/Chidinma.jpg" alt="Team member" class="picture">
      <img src="../../assets/img/Sophia.jpg" alt="Team member" class="picture">

       logo-section
    <label class="logo"><img src="../../assets/img/Logo.png" class="path"></img><span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i></label>     
  
    <nav>
  
  Nav bar list
  <ul>
      <li class="nav-item"><a href="overview.html">Overview</a></li>
      <li class="nav-item"><a href="activity.html">Activity</a></li>
      <li class="nav-item"><a href="calender.html">Calender</a></li>
      <li class="nav-item"><a href="files.html">Files</a></li>
     
  </ul>
 
</nav>


</header> -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../../assets/img/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="text-primary">BAS</span><l-heading>COM</l-heading><i class="fas fa-ellipsis-h"></i>
  </a>
</nav>
    <!-- Page Content  -->
    <!-- <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
          </button>
        </div>
      </nav>
    </div> -->
  </body>
</html>
