.about-split-content {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.about-section {
  min-height: 90vh;
  padding-top: 0;
  background-color: #f8f9faeb;
}
.about-section h2 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.about-content {
  text-align: justify;
  display: flex;
  align-self: center;
}
@media (max-width: 425px) {
  .about-image img {
    width: 300px;
  }
}
@media (min-width: 425px) and (max-width: 768px) {
}
