/* Head section */
header {
  background: #fff;
  position: relative;
  height: 150px;
  width: 83%;
  left: 17%;
  z-index: -1;
}

/* Logo*/
.text-primary {
  color: #0099cc;
  margin-top: 12px;
  margin-left: 15px;
}
l-heading {
  color: #00465d;
  margin-top: 12px;
}

.navbar.left-20 {
  left: 17.8%;
  z-index: -5;
}
label.logo {
  display: flex;
  justify-content: flex-start;
  margin: 0 30px;
  padding-bottom: 20px;
  font-weight: bold;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 47px;
}
.path {
  position: relative;
  display: flex;
  justify-self: flex-start;
  margin: 10px 10px;
}

/* Nav bar start */

nav ul li {
  display: block;
  /* line-height: 50px; */
}

nav ul li a {
  color: #00465d;
  font-size: 17px;
  border-radius: 3px;
}

nav-item.active,
nav-item:hover {
  transition: 0.5s;
  border-bottom: 2px solid #ffc200;
}
button {
  float: right;
  padding: 9px 15px;
  margin-bottom: 50px 150px;
  background-color: #e5e5e5;
  font-size: 0.9rem;
  border-radius: 50px;
  border: none;
  transition: all 0.3s ease 0s;
}

.nav-share {
  float: right;
  margin-right: 40px;
  margin-left: 2px;
  margin-bottom: 60px;
  padding: 20px;
}

.nav-chat {
  float: right;
  width: 3%;
  margin-top: 19px;
  margin-right: 12px;
  margin-left: 1px;
}
i.fa {
  color: #ffc200;
}
.picture {
  float: right;
  width: 3%;
  padding: 2px 2px;
  margin-top: 16px;
  border-radius: 50%;
}
i.fa-ellipsis-h {
  color: #d8d8d8;
  margin-top: 40px;
  margin-left: 120px;
  border-radius: 50%;
  width: 50px;
  align-content: center;
}
