.landing-footer-section {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #00465d;
}
.landing-footer-menu a{
    text-align: justify;
    text-decoration: none;
    color: #ffffff;
}
.landing-footer-menu a:hover{
    text-decoration: underline;
}
.landing-footer-logo {
    color: #0099CC;
    
}
.landing-footer-full-logo h1 {
    font-weight: bold;
}
.landing-footer-space {
    margin-left: 50px;
}
.landing-footer-external-links {
    color: #ffffff;
}
.landing-footer-icons {
    display: flex;
    justify-content: space-evenly;
}
.landing-footer-icons a img {
    width: 20px;
    height: 20px;
}
@media (max-width: 425px){
    .landing-section {
        width: 100%;
    }
    .landing-section h1 {
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }
    .landing-section p {
        font-size: 18px;
    }
    .landing-try {
        font-weight: normal;
        font-size: 1rem;
        width: 50%;
    }
    .landing-footer-section {
        height: auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: #00465d;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    .landing-footer-section {
        height: auto;
        max-width: 100%;
    }
    .landing-footer-menu p {
        display: flex;
        flex-direction: column;
    }
}
/* Search bar */
form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border:1px solid grey;
    float: left;
    width: 80%;
    background: transparent;

  }
  
  /* Submit button */
  form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #0099CC;
    color: white;
    font-size: 17px;
    border-left: none; 
    border: 1px solid grey;
    cursor: pointer;
  }
  
  form.search button:hover {
    background: #0073AA;
  }
  
  