/*main body*/
.landing-section {
    height: 100vh;
    max-width: 100%;
    padding-top: 50px;
    padding-bottom: 71px;
    width: 80%;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing-section h1 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}
.landing-section p {
    font-weight: 300;
    font-size: 1rem;
}
.landing-try {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #ffffff;
    background-color: #0099CC;
    box-shadow: 0px 4px 4px;
    outline: none;
    cursor: pointer;
    border: 1px solid #0099CC;
    border-radius: 20px;
    width: 25%;
    padding: 3px;
    transition: all 1s ease-in 0s;
}
.landing-try:hover {
    background-color: #007AA3;
}
