/* The  pricing page is structurally divided into two units(aside the navbar and the footer)*/
.pricing-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
}

#pricing-top-content {
  height: 30vh;
}

.pricing-heading {
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

.pricng-paragraph {
  color: #a1a1a1 /*#6e6d6b*/;
  text-align: center;
  font-size: 2rem;
}

/* .pricing-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 300px); /*repeat(3,minmax(100px,400px)); 
  column-gap: 150px;
  margin: auto;
  margin-bottom: 7rem;
} */

.pricing-card {
  margin: 0;
  padding: 0 0 0.5rem 0;
  -webkit-box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.38);
  box-shadow: 3px 3px 7px 3px rgba(0, 0, 0, 0.38);
  width: 18.125rem;
}

.pricing-card li {
  list-style: none;
}

.pricing-card .pricing-card-header {
  margin-top: 0px;
  padding: 0;
  background-color: #e3e3e3;
  text-align: center;
  font-size: 2rem;
}

#pricing-card-basic .pricing-card-header .p-card-1st-div {
  background-color: #c7c5c5;
  position: relative;
  width: 100%;
  z-index: 2;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#pricing-card-standard .pricing-card-header .p-card-1st-div {
  background-image: linear-gradient(to right, #50eb5d, #a3f0a9, #50eb5d);
  position: relative;
  width: 100%;
  z-index: 2;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

#pricing-card-premium .pricing-card-header .p-card-1st-div {
  background-image: linear-gradient(to right, #d6973a, #d6973a, #de8c12);
  position: relative;
  width: 100%;
  z-index: 2;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pricing-card .pricing-card-header .p-card-2nd-div {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.pricing-card .pricing-card-header .p-card-1st-div:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  transform: skewY(-5deg);
  transform-origin: bottom right;
  left: 0;
  bottom: 0;
}

.pricing-features-list {
  margin: 1rem 1rem 1rem 1.2rem;
  font-size: 1rem;
}

.pricing-features-list ul li {
  padding: 0.4rem 0.5rem;
}

.pricing-features-list .fas {
  color: #b3b5b4;
  padding-right: 0.7rem;
}

.pricing-features-list button {
  text-align: center;
  border-radius: 3rem;
  width: 206px;
  font-size: 1rem;
  padding: 0.5rem;
  margin-bottom: 3rem;
  margin: 0 auto 50px auto;
}

#p-btn-basic {
  border: solid 3px #0099cc;
  color: #0099cc;
  background-color: white;
  display: block;
  margin: 0.5rem auto;
  cursor: pointer;
}

#p-btn-standard {
  border: none;
  background-image: linear-gradient(to right, #a3f0a9, #50eb5d, #a3f0a9);
  color: white;
  display: block;
  margin: 0.5rem auto;
  cursor: pointer;
}

#p-btn-premium {
  border: none;
  background-image: linear-gradient(to right, #d6973a, #de8c12, #d6973a);
  color: white;
  display: block;
  margin: 0.5rem auto;
  cursor: pointer;
}

/* @media screen and (max-width: 499px) {
  .pricing-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 250px);
    justify-content: center;
    margin: 7rem 0;
    gap: 50px;
  }

  .pricing-container {
    position: relative;
    z-index: -1;
  }
  .pricing-card .pricing-card-header {
    margin-top: 0px;
    padding: 0;
    background-color: #e3e3e3;
    text-align: center;
    font-size: 1.5rem;
  }
  .pricing-features-list {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1rem;
  }

  .pricing-features-list ul li {
    padding: 1rem 0.8rem;
  }

  .pricing-features-list button {
    text-align: center;
    border-radius: 3rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
    margin: 0 auto 50px auto;
  }
}

@media screen and (min-width: 500px) and (max-width: 740px) {
  .pricing-cards-container {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-content: center;
    margin: 7rem 0;
    gap: 50px;
  }

  .pricing-container {
    position: relative;
    z-index: -1;
  }
  .pricing-features-list button {
    text-align: center;
    border-radius: 3rem;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 3rem;
    margin: 0 auto 50px auto;
  }
} */
