.login-container {
  height: 100vh;
  width: 80%;
  height: auto;
  margin: 10px auto;
  padding-bottom: 43px;
}
.login-container h1 {
  font-size: 40px;
  text-align: center;
  padding: 10px;
}
.login-container p {
  font-weight: normal;
  text-align: center;
}
.mb5 {
  margin-bottom: 5px;
}
form {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0 auto;
}
form input {
  width: 100%;
  padding: 15px;
  margin: 5px;
  border: 2px solid #0099cc;
  border-radius: 5px;
  font-weight: 300;
}
form input[type="submit"] {
  background-color: #0099cc;
  color: #ffffff;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}
form input[type="submit"]:hover {
  background-color: #007aa3;
}

/* google button */
form #google_btn {
  background-color: #cc0511;
  color: #ffffff;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  border: #cc0511;
}

form #google_btn:hover {
  background-color: #8b1018;
}
/* end */
form label {
  margin-right: 50px;
}
.login-link {
  color: #0099cc;
}
.login-link:hover {
  color: #007aa3;
  text-decoration: underline;
}
@media (max-width: 425px) {
  .login-container h1 {
    font-size: 25px;
  }
  .login-container {
    max-width: 100%;
  }
  form {
    width: 100%;
  }
  form input {
    width: 100%;
  }
}
